* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sizeBtn.toggled {
    background-color: rgb(93, 93, 93);
    color: rgb(249, 249, 249);
}

.sizeBtn {
    background-color: rgb(225, 225, 225);
    color: rgb(106, 106, 106);
    border: solid rgb(63, 63, 63);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}